@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Blazor In MVC</h1>
    <p>Code source de l'article de blog <a href="https://blog.lacasa.fr/utiliser_Blazor_dans_MVC.html">Utiliser un composant Blazor dans une application ASP.NET Core MVC</a>.</p>
</div>
